.footer {
  background-color: #2e2f42;
}

.footer-container {
  padding: 100px 0;
  display: flex;
}

.footer-info-container {
  margin-right: 120px;
}

.logo-footer {
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-container {
}

.social {
  display: flex;
  gap: 16px;
}

.social-link {
  display: flex;
  color: #f4f4fd;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}
